.list-items {
  margin: auto;
}

.list-items-ul {
  width: 100%;
}

.list-items ul li {
  display: flex;
  padding: 10px 5px;
  border-bottom: 3px dashed var(--color-secondary);
}

.list-items ul li h3 {
  margin-left: auto;
}

.menu-image {
  width: 25vh;
  height: 25vh;
  border-radius: 25px;
  object-fit: cover;
}

.list-items-no-border {
  margin: auto;
}

.list-items-no-border ul li {
  display: flex;
  padding: 10px 5px;
}

.list-items-no-border ul li h3 {
  margin-left: auto;
}

.description-container {
  padding-left: 25px;
  margin: auto;
}

.title-menu {
  font-family: "Pacifico", cursive;
  align-items: center;
  color: var(--color-text);
  font-size: 35px;
}

.sub-title-menu {
  align-items: center;
  color: var(--color-text);
  font-size: 25px;
}

.price-menu {
  align-items: center;
  color: var(--color-text);
  font-size: 25px;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .title-menu {
    font-family: "Pacifico", cursive;
    align-items: center;
    color: var(--color-text);
    font-size: 30px;
  }

  .sub-title-menu {
    align-items: center;
    color: var(--color-text);
    font-size: 20px;
  }
}
