.list-items {
  margin: auto;

  ul li {
    display: flex;
    padding: 10px 5px;
    border-bottom: 3px dashed var(--color-secondary);
    margin-left: auto;
  }
}

.menu-image {
  width: 25vh;
  height: 25vh;
  border-radius: 25px;
  object-fit: cover;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

.list-items-no-border {
  margin: auto;

  ul li {
    display: flex;
    padding: 10px 5px;
    margin-left: auto;
  }
}

.description-container {
  padding-left: 25px;
  margin: auto;
  max-width: 55vw;
}

.title-menu {
  font-family: "Pacifico", cursive;
  align-items: center;
  color: var(--color-text);
  font-size: 35px;
}

.sub-title-menu {
  align-items: center;
  color: var(--color-text);
  font-size: 20px;
}

.price-menu {
  text-align: right;
  color: var(--color-text);
  font-size: 25px;
  padding: 20px;
  margin: auto;
}

.price-container {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 940px) {
  .title-menu {
    font-family: "Pacifico", cursive;
    align-items: center;
    color: var(--color-text);
    font-size: 30px;
  }

  .sub-title-menu {
    align-items: center;
    color: var(--color-text);
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  ul li {
    display: flex;
    flex-direction: column;

    img {
      margin: auto;
    }
  }

  .description-container {
    padding-left: 0;
    margin: auto;
    max-width: 65vw;
  }

  .title-menu {
    text-align: center;
  }

  .sub-title-menu {
    text-align: center;
  }
}
