.contact-img {
  height: 110vh;
  background-image: url("../../assets/contact-image.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0);
  top: 22%;
  left: 50%;
  width: 70vw;

  p {
    font-size: 20px;
  }

  .phone-number {
    text-decoration: underline;
    font-weight: 700;
  }
}

.enquiry-text {
  font-size: 17px;
}

.contact-map {
  display: none;
}

@media screen and (max-width: 650px) {
  .contact-map {
    display: block;
    padding-top: 25px;
  }

  .enquiry-text {
    font-size: 14px;
  }

  .contact-content {
    top: 13%;
  }

  .contact-img {
    height: 160vh;
  }
}
