.App {
  position: relative;
  width: 25vw;
  height: 18vw;
}

.map-container {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 650px) {
  .App {
    width: 70vw;
    height: 70vw;
  }
}