.section {
  padding-top: 20vh;
  padding-bottom: 10vh;
}

.menu {
  border: 3px dashed var(--color-secondary);
  margin: 10px;
  border-radius: 25px;
  padding: 5px 10px;
  max-width: 80vw;
  margin: auto;
}

.menu h1 {
  text-align: center;
  padding-bottom: 25px;
}

.heading-menu {
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  font-size: 45px;
  padding-bottom: 15px;
}
